
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

html,button{
    font-family: 'Concert One', cursive;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}